<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function goToCheckbox() {
            location.href = '/1';
        }
        function goToInvisible() {
            location.href = '/2'
        }
    </script>
</head>
<body>
    <button onclick="goToCheckbox();">Посмотреть капчу-чекбокс</button>
    <button onclick="goToInvisible();">Посмотреть невидимую капчу</button>
</body>
</html>